@font-face {
    font-family: 'Bebas Neue Pro';
    src: url('../fonts/BebasNeuePro-ExpandedBook.eot');
    src: local('Bebas Neue Pro'),
        url('../fonts/BebasNeuePro-ExpandedBook.eot') format('embedded-opentype'),
        url('../fonts/BebasNeuePro-ExpandedBook.woff2') format('woff2'),
        url('../fonts/BebasNeuePro-ExpandedBook.woff') format('woff'),
        url('../fonts/BebasNeuePro-ExpandedBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}